.principal{
        width: 100%;
        height: 100%;
        margin-top: 150px;
        padding: 15px;

}
.nome{
        display: flex;
        margin-left: 80px;
}
.foto img{
        width: 500px;
        height: 500px;
        display: flex;
        margin: auto;
    border-radius: 50% ;
    cursor: pointer;
}
.fotoPrincipal{
        background-image:url('../imgs/4.jpg') ;
        background-repeat:no-repeat;

}
.fotoPrincipal2{
        background-image:url('../imgs/3.jpg') ;
        background-repeat:no-repeat;
        border-radius: 50% 15px;

}
.nome h1{
        font-size: 80pt;
        font-family: "Roboto Mono", monospace;
        font-weight: 300;

}
.nomes h3{
margin-top: 30px;
font-size: 30pt;
font-weight: 600;
font-family: "Roboto Mono", monospace;
}


.foto :hover{
opacity: 85%;
transition: 0.8s;

}
.mudarFundo *{
        background-color: #000;
        color: #fff;
}